# gitignore all .idea and __pycache__

**.egg-info
**.idea
**.so
**__pycache__
**.DS_Store
**.dSYM/
dask-worker-space/
build/

# Sphinx documentation
docs/_build/
docs/autoapi/

# Code coverage
.coverage*
coverage.xml
